html, body {
  height: 100%;
  width: 100%;
}

.navbar-brand {
  color: chocolate;
}

.navbar-brand:hover {
  text-decoration: underline;
  color: chocolate;
}

.btn-outline-success {
  color: chocolate;
  border-color: chocolate;
}

.btn-outline-success:hover {
  color: white;
  background-color: chocolate;
  border-color: chocolate;
}

.text-main {
  --c: #1095c1; /* the color  */
  --h: 1.2em;   /* the height */
  
  line-height: var(--h);
  background: 
    linear-gradient(var(--c) 0 0) no-repeat 
    calc(200% - var(--_p,0%)) 100%/200% var(--_p,.08em);
  color: #0000;
  overflow: hidden;
  text-shadow: 
    0 calc(-1*var(--_t,0em)) var(--c), 
    0 calc(var(--h) - var(--_t,0em)) #fff;
  transition: .3s var(--_s,0s), background-position .3s calc(.3s - var(--_s,0s));
}

.text-main:hover {
  --_t: var(--h);
  --_p: 100%;
  --_s: .3s
}

.btn-dark:hover {
  background-color: #1095c1;
  border-color: #1095c1;
  transform: scale(1.05);  
}

.card:hover {
  transform: scale(1.05);
  transition: 0.5s ease-in-out;
}

footer {
  color: white;
  background-color: black;
}

.footer-first {
  border-bottom: 1px solid white;
  text-align: center;
}

.footer-second {
  border-bottom: 1px solid white;
}

.footer-second a {
  color: white;
  text-decoration: none;
}

/*
미디어 쿼리 이용 - 반응형 웹 구현
 - 반응형 웹: 하나의 웹사이트로 데스크탑, 스마트폰, 태블릿 등 접속하는 디스플레이의 종류에 따라 화면의 크기가 자동으로 변하도록 만든 웹 페이지
 - 모바일 환경 이용 시 바뀌는 화면 비율, 너비에 따라 자동 조정되는 기능 적용

미디어 쿼리 구현 방법
@media 미디어 타입 (너비 및 높이) {
  CSS 입력
}
*/

@media screen and (min-width: 1rem) {
  .footer-second {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}